@media only screen
    and (min-width: 64em){
    

    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-right: auto;
        margin-left: auto;
        max-width: 52em;
        position: relative;
        align-items: center;
        
    }

    .hero img {
        max-width: 100%;
        align-self: center;
        height: auto;
        margin: auto;
    }

    .grids2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-right: auto;
        margin-left: auto;
        max-width: 52em;
        position: relative;
        align-items: center;
        
    }
    
}

.photo {
    Max-width: 260px;
}