/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}

	.contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
	}
	
	.contact-socialmedia {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        font-size: 20px;
    }

    .map {
        grid-column: 1/2;
        margin: 20px;
	}
	
	.gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        left: -45px;
    
        max-width: 52em;
    }

}